/*------------------------------
	Page: Taxonomy
------------------------------*/

.taxonomy-results {
	.page-title {
		text-transform: capitalize;
	}
	.taxonomy-description {
		margin-bottom: 30px;
		color: $color-muted;
	}
}